@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #0F0F0F;
    display: flex;
    padding: 12px 60px;
}

#business-name-container {
    color: #ffd000;
    display: flex;
    place-items: center;
    width: 33%;
}

#logo-container {
    width: 33%;
    display: flex;
    justify-content: center;
}

#logo {
    height: 130px;
}

#nav-container {
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#menu-icon {
    border-radius: 8px;
    padding: 4px;
}

#menu-icon:hover {
    filter: invert(40%);
}

hr {
    border: 1px solid #ffd000;
    margin: 0px;
}

nav {
    position: absolute;
    top: 144px;
    margin: 0;
    flex-direction: column;
}

nav div {
    background-color: #0F0F0F;
    border-bottom: #ffd000;
    border-bottom: 1px solid #ffd000;
    padding: 12px;
}

nav div a {
    color: #ffd000;
}

.display-none {
    display: none;
}

footer {
    margin-top: auto;
    background-color: #0F0F0F;
    color: #ffd000;
}

footer img {
    width: 32px;
}

#socials {
    padding: 24px;
}

#socials h2 {
    margin-top: 0;
}

#socials a {
    margin-right: 4px;
}

.btn {
    background-color: #ffd000;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1.5px;
}